########################################################################
# File managed by ansible
# Your changes will be overwritten.
########################################################################
#
# For more information on the "job" stanza, please see
# the online documentation at:
#
#     https://www.nomadproject.io/docs/job-specification/job.html
#

job "{{ job_name }}" {
  datacenters = [ "{{ datacenter }}" ]
  type = "service"
  constraint {
    attribute = "${attr.kernel.name}"
    value     = "linux"
  }
  update {
    max_parallel = 1
    min_healthy_time = "10s"
    healthy_deadline = "30m"
    progress_deadline = "32m"
    auto_revert = false
    canary = 0
  }

  group "{{ job_name }}" {
    count = 1
    network {
      
      port "http_proxy_port" { 
        static = {{ mitmproxy.external_proxy_port }} 
        to = 8080 
      }
      port "http_ui_port" { 
        static = {{ mitmproxy.external_ui_port }} 
        to = 8081 
      }
 
      mode = "host"
    }
    restart {
      attempts = 10
      interval = "5m"
      delay = "25s"
      mode = "delay"
    }
    
    task "mitmproxy-server" {
      {% if nomad_config_driver_is_docker is defined and nomad_config_driver_is_docker %}
      driver = "docker"
      {% else %}
      driver = "podman"
      {% endif %}

      env {  
          DUMMY="true"
      }
      config {
        {% if nomad_config_driver_is_docker is defined and nomad_config_driver_is_docker %}
          memory_hard_limit = {{ mitmproxy.memory_hard_limit }}
        {% endif %}
        {% set image_version= mitmproxy.image_version %}
        {% include "nomad-files/github_registry.j2" %}
        
        command = "mitmweb"
        args = [ "--set", "ssl_insecure=true", "--web-host", "0.0.0.0", "--set", "block_global=false", "--set", "web_password=adm1234@", "--set", "http3=false" ] 

        labels {
          group = "mitmproxy"
        }

        volumes = [
            "{{ mitmproxy.app_volume }}/data:/home/mitmproxy/.mitmproxy"
        ]
        {% if nomad_config_driver_is_docker is defined and nomad_config_driver_is_docker %}
        volume_driver = "local"
        {% endif %}
         
        ports = [ "http_proxy_port", "http_ui_port" ]
        
        extra_hosts = [
          "ftipackitqa.flightconex.de:{{ mitmproxy.excon_host_ip}}",
          "ftipackit.flightconex.de:{{ mitmproxy.excon_host_ip}}",
          "packit-assets.aerticket-it.de:{{ mitmproxy.excon_host_ip}}",
          "conapi.smg-test.de:{{ mitmproxy.excon_host_ip}}",
          "devat.inhouse.fti-ticketshop.de:{{ mitmproxy.excon_host_ip}}",
          "devde.inhouse.fti-ticketshop.de:{{ mitmproxy.excon_host_ip}}",
          "aerpackit.flightconex.de:{{ mitmproxy.excon_host_ip}}",
        ]
        
      }
      service {
        name = "{{ job_name }}"
        port = "http_proxy_port"
        provider = "nomad"
         check {
          type     = "http"
          port     = "http_ui_port"
          path     = "/static/images/favicon.ico"  
          interval = "120s"
          timeout  = "30s"
          method   = "GET"
          
        }
      }
      logs {
         max_files     = 2
         max_file_size = 15
      }
 
      resources {
        cpu = {{ mitmproxy.cpu }}
        memory = {{ mitmproxy.memory }}
      }
    }
  }
}