########################################################################
# File managed by ansible
# Your changes will be overwritten.
########################################################################
#
# For more information on the "job" stanza, please see
# the online documentation at:
#
#     https://www.nomadproject.io/docs/job-specification/job.html
#

job "{{ job_name }}" {
  datacenters = [ "{{ datacenter }}" ]
  type = "service"
  constraint {
    attribute = "${attr.kernel.name}"
    value     = "linux"
  }
  update {
    max_parallel = 1
    min_healthy_time = "10s"
    healthy_deadline = "30m"
    progress_deadline = "32m"
    auto_revert = false
    canary = 0
  }

  group "{{ job_name }}" {
    count = 1
    network {
      
      port "http_ui_port" { 
        static = {{ vault.external_ui_port }} 
        to = 8200
      }
 
      mode = "host"
    }
    restart {
      attempts = 10
      interval = "5m"
      delay = "25s"
      mode = "delay"
    }
    
    task "vault-server" {
      {% if nomad_config_driver_is_docker is defined and nomad_config_driver_is_docker %}
      driver = "docker"
      {% else %}
      driver = "podman"
      {% endif %}

      env {
        VAULT_ADDR = "http://0.0.0.0:8200"
        VAULT_API_ADDR = "http://localhost:8200"
        VAULT_LOCAL_CONFIG = <<EOL
          storage "mysql" {
            address     = "{{ vault.db.host }}:{{ vault.db.port}}"
            username    = "{{ vault.db.user }}"
            password    = "{{ vault.db.password }}"
            database    = "{{ vault.db.name }}"
            table       = "vault_kv_store"
          }

          listener "tcp" {
            address     = "0.0.0.0:8200"
            tls_disable = 1
          }

          disable_mlock = true
          ui = true
          default_lease_ttl = "168h"
          max_lease_ttl = "720h"
          api_addr = "http://localhost:8200"
          cluster_addr = "http://localhost:8201"
          admin_token = "{{ vault.token }}"
        EOL
      }
      config {
        {% if nomad_config_driver_is_docker is defined and nomad_config_driver_is_docker %}
          memory_hard_limit = {{ vault.memory_hard_limit }}
        {% endif %}
        {% set image_version= vault.image_version %}
        {% include "nomad-files/github_registry.j2" %}
        
        command = "mitmweb"
        args = [ "--set", "ssl_insecure=true", "--web-host", "0.0.0.0", "--set", "web_password='adm1234!'", "--set", "http3=false" ] 

        labels {
          group = "vault"
        }

        volumes = [
            "{{ vault.app_volume }}/data/logs:/vault/logs"
        ]
        {% if nomad_config_driver_is_docker is defined and nomad_config_driver_is_docker %}
        volume_driver = "local"
        {% endif %}
         
        ports = [ "http_ui_port" ]
        
      }
      service {
        name = "{{ job_name }}"
        port = "http_ui_port"
        provider = "nomad"
         check {
          type     = "http"
          port     = "http_ui_port"
          path     = "/v1/sys/health"  
          interval = "120s"
          timeout  = "30s"
          method   = "GET"
          
        }
      }
      capabilities = ["IPC_LOCK"]

      logs {
         max_files     = 2
         max_file_size = 15
      }
 
      resources {
        cpu = {{ vault.cpu }}
        memory = {{ vault.memory }}
      }
    }
  }
}