[Unit]
Description=aqNeoCore on wildfly
Requires=docker.service
After=docker.service

#User=wildfly-logs
[Service]
Restart=always
RestartSec=10s
ExecStartPre=/bin/sh -c 'docker login registry.gitlab.com -u rtu0fti -p pKC3Cz6YgvGCifEo8xWs  && docker pull registry.gitlab.com/fti_ticketshop/docker-images/wildfly-aqneo:latest-secure || true'

ExecStart=/usr/local/bin/systemd-docker --pid-file=/var/run/%n.pid run --rm -p 8080:8080 -p 9990:9990  -v /var/log/wildfly:/opt/jboss/wildfly/standalone/log --name=%n registry.gitlab.com/fti_ticketshop/docker-images/wildfly-aqneo:latest-secure
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target