DOMAIN_LIST="-d {{ certbot_fti1.domain_list | join(' -d ') }}"
EMAIL="{{ certbot_fti1.email }}"
{% if certbot_fti1.staging is defined and certbot_fti1.staging %}
IS_STAGING="--staging"
{% else %}
IS_STAGING=""
{% endif %}
WEB_ROOT="{{ certbot_fti1.web_root }}"