########################################################################
# File managed by ansible
# Your changes will be overwritten.
########################################################################
#
# For more information on the "job" stanza, please see
# the online documentation at:
#
#     https://www.nomadproject.io/docs/job-specification/job.html
#

job "{{ job_name }}" {
  datacenters = [ "{{ datacenter }}" ]
  type = "service"
  constraint {
    attribute = "${attr.kernel.name}"
    value     = "linux"
  }
  update {
    max_parallel = 1
    min_healthy_time = "10s"
    healthy_deadline = "30m"
    progress_deadline = "32m"
    auto_revert = false
    canary = 0
  }

  group "{{ job_name }}" {
    count = 1
    network {
      
      port "http_port" { 
        static = {{ neocore.external_port }} 
        to = 8080 
      }
      port "http_admin_port" { 
        static = {{ neocore.external_admin_port }} 
        to = 9990 
      }
 
      mode = "host"
    }
    restart {
      attempts = 10
      interval = "5m"
      delay = "25s"
      mode = "delay"
    }
    
    task "neocore-server" {
      {% if nomad_config_driver_is_docker is defined and nomad_config_driver_is_docker %}
      driver = "docker"
      {% else %}
      driver = "podman"
      {% endif %}
      env {  
          DUMMY="true"
      }
      config {
        {% if nomad_config_driver_is_docker is defined and nomad_config_driver_is_docker %}
          memory_hard_limit = {{ neocore.memory_hard_limit }}
        {% endif %}
        {% set image_version= neocore.image_version %}
        {% include "nomad-files/github_registry.j2" %}

        labels {
          group = "neocore-wildfly"
        }

        volumes = [
            "{{ neocore.app_volume }}/log:/opt/jboss/wildfly/standalone/log"
        ]
        {% if nomad_config_driver_is_docker is defined and nomad_config_driver_is_docker %}
        volume_driver = "local"
        {% endif %}
         
        ports = [ "http_port", "http_admin_port" ]
        
      }
      service {
        name = "{{ job_name }}"
        port = "http_port"
        provider = "nomad"
         check {
          type     = "http"
          port     = "http_port"
          path     = "/neoCore/XmlServlet"  # This should be updated to the appropriate path for your health check
          interval = "120s"
          timeout  = "30s"
          method   = "POST"
          #headers = {
          #  "Content-Type"  = "text/xml; charset=utf-8"
          #  "Authorization" = "{{ neocore.authorization }}"
          #}
          #body = "<ping/>"
        }
      }
      logs {
         max_files     = 2
         max_file_size = 15
      }
 
      resources {
        cpu = {{ neocore.cpu }}
        memory = {{ neocore.memory }}
      }
    }
  }
}