
        image = "ghcr.io/{{ nomad_registry_github.username }}/{{image_version}}"

        image_pull_timeout = "7m"

        auth {
          username = "{{ nomad_registry_github.username }}"
          password = "{{ nomad_registry_github.password }}"
        }
        force_pull = true
        