########################################################################
# File managed by ansible
# Your changes will be overwritten.
########################################################################
#
# For more information on the "job" stanza, please see
# the online documentation at:
#
#     https://www.nomadproject.io/docs/job-specification/job.html
#

job "{{ job_name }}" {
  datacenters = [ "{{ datacenter }}" ]
  type = "service"
  constraint {
    attribute = "${attr.kernel.name}"
    value     = "linux"
  }
  update {
    max_parallel = 1
    min_healthy_time = "10s"
    healthy_deadline = "30m"
    progress_deadline = "32m"
    auto_revert = false
    canary = 0
  }

  group "{{ job_name }}" {
    count = 1
    network {
      
      port "http_port" { 
        static = {{ conapi.external_port }} 
        to = 4567 
      }
 
      mode = "host"
    }
    restart {
      attempts = 10
      interval = "5m"
      delay = "25s"
      mode = "delay"
    }
    
    task "conapi-server" {
      {% if nomad_config_driver_is_docker is defined and nomad_config_driver_is_docker %}
      driver = "docker"
      {% else %}
      driver = "podman"
      {% endif %}
      
      config {
        {% if nomad_config_driver_is_docker is defined and nomad_config_driver_is_docker %}
          memory_hard_limit = {{ conapi.memory_hard_limit }}
        {% endif %}
        {% set image_version= conapi.image_version %}
        {% include "nomad-files/github_registry.j2" %}

        labels {
          group = "conapi"
        }
        args = [
          "--env", "ENVIRONMENT=production",
          "--env", "COMPUTOP_PASSWORD=none",
          "--",
          "-p", "/root/config/conf.local.yaml"
        ]
        volumes = [
            "{{ conapi.app_volume }}/config:/root/config"
        ]
        {% if nomad_config_driver_is_docker is defined and nomad_config_driver_is_docker %}
        volume_driver = "local"
        {% endif %}
         
        ports = [ "http_port" ]
        
        extra_hosts = [
          "conapi_db_server:{{ conapi.db.host}}",
        ]
       
      }
      
      service {
        name = "{{ job_name }}"
        port = "http_port"
        provider = "nomad"
         check {
          type     = "http"
          port     = "http_port"
          path     = "/"  
          interval = "120s"
          timeout  = "30s"
          protocol = "https"
          tls_skip_verify = true
          method   = "GET"
          
        }
      }
      logs {
         max_files     = 2
         max_file_size = 15
      }
 
      resources {
        cpu = {{ conapi.cpu }}
        memory = {{ conapi.memory }}
      }
    }
  }
}